<template name="profile">

{{#if  currentUser}}

{{> navbar}}
{{#if currentProfile}}

{{/if}}
 <div class="container">

	<h2>Welcome {{fname currentUser.profile.realname}}, let's update your profile</h2>
    <input type="hidden" name="username" id="username" value={{currentUser.username}}>
	<!-- Cuisine Prefernces -->

	<h2>Cuisine Preferences</h2>

    <div class="col-sm-12">
       <div class="col-sm-6">
	    <div class="checkbox">
	            <label style="font-size: 1.5em">
	                <input type="checkbox" name="cuisine" id="american"
                    value="american" checked="{{isAmericanChecked}}">
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	                American
	            </label>
	    </div>

	   <div class="checkbox">
	            <label style="font-size: 1.5em">
	                <input type="checkbox" name="cuisine" id="italian" 
                            value="italian" checked="{{isItalianChecked}}">
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	                Italian
	            </label>
	    </div>


	   <div class="checkbox">
	            <label style="font-size: 1.5em">
	                <input type="checkbox" name="cuisine" id = "chinese" 
                    value="chinese" 
                    checked="{{isChineseChecked}}">
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	                Chinese
	            </label>
	    </div>

	    <div class="checkbox">
	            <label style="font-size: 1.5em">
	                <input type="checkbox" name="cuisine" id="japanese" 
                    value="japanese" checked="{{isJapaneseChecked}}">
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	                Japanese
	            </label>
	    </div>


	    <div class="checkbox">
	            <label style="font-size: 1.5em">
	                <input type="checkbox" name="cuisine" id="mexican" 
                    value="mexican" checked="{{isMexicanChecked}}">
	                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
	                Mexican
	            </label>
	    </div>
      </div>  
       <div class="col-sm-6">
        <div class="checkbox">
                <label style="font-size: 1.5em">
                    <input type="checkbox" name="cuisine" id="indian"
                    value="indian" checked="{{isIndianChecked}}">
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                    Indian
                </label>
        </div>

       <div class="checkbox">
                <label style="font-size: 1.5em">
                    <input type="checkbox" name="cuisine" id="greek" 
                            value="greek" checked="{{isGreekChecked}}">
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                    Greek
                </label>
        </div>


       <div class="checkbox">
                <label style="font-size: 1.5em">
                    <input type="checkbox" name="cuisine" id = "mediterranean" 
                    value="mediterranean" 
                    checked="{{isMediterraneanChecked}}">
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                    Mediterranean
                </label>
        </div>

        <div class="checkbox">
                <label style="font-size: 1.5em">
                    <input type="checkbox" name="cuisine" id="thai" 
                    value="thai" checked="{{isThaiChecked}}">
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                    Thai
                </label>
        </div>


        <div class="checkbox">
                <label style="font-size: 1.5em">
                    <input type="checkbox" name="cuisine" id="vietnamese" 
                    value="vietnamese" checked="{{isVietnameseChecked}}">
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                    Vietnamese
                </label>
        </div>
      </div>      
    </div>
	
	<!-- Distance Prefernces -->
	<h2>Distance preferences</h2>	
    <div class="col-sm-12">
    	<div class="radio">
            <label style="font-size: 1.5em">
                <input type="radio" id="walk" name = "distance" value="1" checked="{{walkOption}}">
                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                Walkable ( less than a mile )
            </label>
        </div>

        <div class="radio">
            <label style="font-size: 1.5em">
                <input type="radio" id="shortDrive" name = "distance"  value="2" checked="{{shortDriveOption}}">
                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                Short Drive ( Upto 5 miles )
            </label>
        </div>

        <div class="radio">
            <label style="font-size: 1.5em">
                <input type="radio" id="drive" name = "distance" value="3" checked="{{justDriveOption}}">
                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                I don't mind Driving 
            </label>
        </div>           	
    </div>


 <!-- Select location -->
 	<h2>Location</h2>	
    <h4>Pick the closest city, if your city is not listed below.</h4>    
    <div class="col-sm-12">
    <div class = "col-sm-6">
        <div class="radio">
            <label style="font-size: 1.5em">
                <input type="radio" id="Minneapolis" name="city" value="Minneapolis" checked="{{isMinneapolisChecked}}" >
                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                Minneapolis
            </label>
        </div>
        <div class="radio">
            <label style="font-size: 1.5em">
                <input type="radio" id="StPaul" name="city" value="StPaul" checked="{{isStPaulChecked}}">
                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                St Paul
            </label>
        </div>
        <div class="radio">
            <label style="font-size: 1.5em">
                <input type="radio" id="MapleGrove" name="city" value="MapleGrove" checked="{{isMapleGroveChecked}}">
                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                Maple Grove
            </label>
        </div>
        <div class="radio">
            <label style="font-size: 1.5em">
                <input type="radio" id="Plymouth" name="city" value="Plymouth" checked="{{isPlymouthChecked}}">
                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                Plymouth
            </label>
        </div>
    </div>

    <div class = "col-sm-6">
        <div class="radio">
            <label style="font-size: 1.5em">
                <input type="radio" id="EdenPrairie" name="city" value="EdenPrarie" checked="{{isEdenPrairieChecked}}">
                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                Eden Prairie
            </label>
        </div>
        <div class="radio">
            <label style="font-size: 1.5em">
                <input type="radio" id="Bloomington" name="city" value="Bloomington" checked="{{isBloomingtonChecked}}">
                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                Bloomington
            </label>
        </div>
        <div class="radio">
            <label style="font-size: 1.5em">
                <input type="radio" id="WhiteBearLake" name="city" value="WhiteBearLake" checked="{{isWhiteBearLakeChecked}}">
                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                White Bear Lake 
            </label>
        </div>
        <div class="radio">
            <label style="font-size: 1.5em">
                <input type="radio" id="Woodbury" name="city" value="Woodbury" checked="{{isWoodburyChecked}}">
                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                Woodbury
            </label>
        </div>
    </div>

    	
        

    	
    </div>
  


  <!-- Save the profile -->

    <div class="col-md-4"></div>
    <div class="col-md-4">
 
    	<button type="button" class="btn btn-primary btn-lg btn-block" id="profile-save">Save Profile</button>
	</div>
	<div class="col-md-4"></div>
 </div>

{{> footer}} 

{{else}}  
    {{> login}}
{{/if}}


</template>	