<template name="recvd">
    <div class="container-fluid">
    	<ul class="list-group">
    	 <a href = "#" class = "list-group-item active">
      			<h4 class = "list-group-item-heading">
         Incoming Invites
     	 </h4></a>
  			{{#each result in invitees}}
   			
   			 
             <li class="list-group-item">
             <h4>{{organizerFullName result.eventDetails.organizer}} has sent you an invite for <a href="">{{result.eventDetails.eventname}} </a> on 
                  {{result.eventDetails.date}}</h4>   

             <!-- restaurant list -->
             <ul class="list-group">
                <h5 class="list-group-item active">Restaurant Preference</h5>
                {{#each item in result.eventDetails.pickedRestaurants}}       
                    {{#if item}}
                      <li class="list-group-item">
                          <div class="row">
                            <div class="col-md-8">
                               <h4>{{restaurantName @index  result.eventDetails}}</h4>
                               <h4>{{ratingRanking @index result.eventDetails}}</h4>
                               <h5>{{restaurantAddress @index result.eventDetails}}</h5>
                            </div>
                           
                              <div class="col-md-4">
                                <div class="radio">
                                    <label style="font-size: 1.5em">
                                        <input type="radio" id="responseYes{{@index}}" name="response{{@index}}" value="Yes" checked="{{isResponseYes @index result.eventDetails}}">
                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                        Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label style="font-size: 1.5em">
                                        <input type="radio" id="responseNo{{@index}}" name="response{{@index}}" value="No" checked="{{isResponseNo @index result.eventDetails}}">
                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                        No
                                    </label>
                                </div>

                              </div>
                           </div>
                      </li>
                    {{/if}}
                    

                {{/each}}


             </ul>
             <div class="row">
              <div class="col-md-6" align="center">
             		<button type="button" class="btn btn-success btn-lg invite-choices-accept" id={{@index}}> Accept
             		</button>
                {{updateVotes @index result._id result.eventDetails}}
              </div>

               <div class="col-md-6" align="center">  
             		 <button type="button" class="btn btn-danger btn-lg invite-choices-decline" id={{@index}}> Decline 
             		  </button>
              </div>
              </div>    
             </li>
   			
  			{{/each}}
        </ul>
    </div>
	
</template>