<template name="footer">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78248109-1', 'auto');
  ga('send', 'pageview');

</script>

	<div id="footer">
    <hr />
   		 <div class="container text-center">
    			<h5><a href="#" id="shareFeedback">Share Feedback</a></h5>
    	</div>		
    
          <div class="container text-center">
          
        <ul class="list-inline">
            
            <li><a href="https://facebook.com/HakuSocial" class="icoFacebook" title="Facebook"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="https://twitter.com/HakuSocial" class="icoTwitter" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCF7Q4x-HqDe04Pokjzdnobw" class="icoYoutube" title="Youtube"><i class="fa fa-youtube fa-2x"></i></a></li>
        </ul>
      </div>
	  <div class="container text-center">
	    
	    <p class="text-muted credit" style="color:black">&copy; Haku Social, 
			
			<script language="JavaScript" type="text/javascript">
			    now = new Date
			    theYear=now.getYear()
			    if (theYear < 1900)
			    theYear=theYear+1900
			    $('.credit').append(theYear);
			</script>

	    </p>
	  </div>

</div>
</template>



<template name="feedbackModal">

   <div class="modal fade" id="animalsModal">
      <div class="modal-dialog modal-sm">
         <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Share Feedback</h4>
              </div>
			  <form id="sendFeedback-form" style="display: block;">
	              <div class="modal-body">
	                   <div class="form-group">
	            
	                              <input type="text" class="form-control required" id="feedbackName"   placeholder="Your name ">

	                   </div>
	                   <div class="form-group">
	                          
	                              <input type="text"  class="form-control required" id="feedbackEmail"   placeholder="Enter your Email Address ">

	                   </div>
	                   <div class="form-group">
	     
	                              <textarea placeholder="Feedback goes here..." rows="10" cols="80" id="feedbackMessage" class="form-control required" ></textarea>

	                   </div>

	              </div>
              </form>

              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" id="submitFeedback">Submit</button>
                  <button type="reset" class="btn btn-default" id="cancelFeedback">Cancel</button>
                </div>

         </div>
      </div>
   </div>   

 
</template>
