<template name="footer">

	<div id="footer">
    <hr />
          <div class="container text-center">
          
        <ul class="list-inline">
            
            <li><a href="https://facebook.com/HakuSocial" class="icoFacebook" title="Facebook"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="https://twitter.com/HakuSocial" class="icoTwitter" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a></li>
        </ul>
      </div>
	  <div class="container text-center">
	    
	    <p class="text-muted credit" style="color:black">&copy; Haku Social, 
			
			<script language="JavaScript" type="text/javascript">
			    now = new Date
			    theYear=now.getYear()
			    if (theYear < 1900)
			    theYear=theYear+1900
			    $('.credit').append(theYear);
			</script>

	    </p>
	  </div>

</div>
</template>